# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react_client/node_modules
/.pnp
.pnp.js

# python
django_server/env
django_server/setup/__pycache__
django_server/chat/__pycache__
django_server/api/__pycache__

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Drupal stuff
drupal_server/web/keys
drupal_server/web/core
drupal_server/web/modules
drupal_server/web/sites/default/files
drupal_server/vendor